#
# Example config file.
#
# 
#

[tiles]
#                     size max row
Example_res\tiles.png 16   200 8

[tile_mirror_idx]
300

[dummypics]
Example_res\dummypics.png

[dummys]
3
#comment	name	w	h      | pic? picX picY picW picH  | addData (fixed)
hero		Hero	18	31	YES    18   0    18   31    0 0 -   
monster		Monster	18	48	YES    0    0    18   48    0 0 -   
EndOfLevel	EOL	50	50	NO     0    0    0    0	    0 0 -

# background color in editor
[bgcol]
FFFFAA

