#
# Example config file.
#
# Copy this file and modify it to use it in your own project.
# Start LevelEdit with the config file as first argument to load it.
#


#
# Define an image containing the tiles and the properties of the tiles.
# image - specify an image to load.
# size  - size of each tile.
# max   - max number of tiles in image.
# row   - number of tiles per row in image.
#
[tiles]
# image               size max row
Example_res\tiles.png 16   200 8


#
# Tile index above which will be used as mirrored versions of the tiles.
# Eg. if mirror index is 300, tile 301 will be drawn as tile 1 mirrored.
#
[tile_mirror_idx]
300


# 
# An image containing images used to represent the game objects
# in the editor.
#
[dummypics]
Example_res\dummypics.png


#
# Define the game objects that should be available in the editor.
# label - the displayed name in the editor.
# id    - name to use in file formats etc.
# w/h   - width/height in editor.
# pic ?/x/y/w/h - specify if object has an image and the position of it 
#                 in the dummy image.
# addData - Additional data that may be used depending on the export format.
#
[dummys]
# specify number of items.
5
#label  	id	w	h      |pic?  picX picY picW picH  |addData (fixed)
blue    	blue    22	44	YES   0    0    22   44    0 0 -   
red     	red     22	44	YES   22   0    22   44    0 0 -   
yellow    	yellow  22	44	YES   44   0    22   44    0 0 - 
StartOfLevel	SOL	50	50	NO    0    0    0    0	   0 0 -  
EndOfLevel	EOL	50	50	NO    0    0    0    0	   0 0 -


#
# Background color in editor.
#
[bgcol]
FFFFAA

